BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

IndentWidth: 2
UseTab: Never
TabWidth: 2
ContinuationIndentWidth: 4

ColumnLimit: 100

AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: AcrossEmptyLines
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon

ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true

DerivePointerAlignment: false
PointerAlignment: Left

FixNamespaceComments: true
NamespaceIndentation: None

IncludeBlocks: Preserve
IndentCaseLabels: true
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

SortIncludes: CaseInsensitive
SortUsingDeclarations: true

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
